body.index-page {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000; 
    font-family: Arial, Helvetica, sans-serif;
}

.index-page-h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;
    color: red;
    mix-blend-mode: difference;
    transition: all 0.5s ease;
    z-index: 2;
    text-align: center;
}

.top-right-links {
    position: fixed;
    font-size: 2vw;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 100; 
}

.top-right-links span {
    cursor: pointer;
    color: red; 
    margin: 0 5px;
}

 .top-right-links span:hover {
    text-decoration: underline;
}

.scrolled .index-page-h1 {
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 60px; 
}

.scroll-trigger {
    margin-top: 100vh; 
    text-align: center;
    color: white; 
}

.scroll-trigger h2, .scroll-trigger p {
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin: auto;
    font-size: 2vw;
    transition: opacity 0.5s ease 0.5s; 
    color: white; 
}

.scroll-trigger .red-text {
    color: red; 
    opacity: 0; 
    transition: opacity 0.5s ease 0.5s; 
}


.scrolled .scroll-trigger h2, .scrolled .scroll-trigger p, .scrolled .scroll-trigger red-text{
    opacity: 1;
    margin: auto;
    
}

.extra-content {
    height: 20vh; 
}


.red-text {
    color: red; 
    text-decoration: none;
    margin: 20px 0;
}


.content {
    opacity: 0; 
    position: relative;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000; 
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    text-align: center; 
    padding: 20px; 
}

h1 {
    color: red; 
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;
    margin: 20px auto; 
    mix-blend-mode: difference;
}

#blessingsContainer {
    max-width: 10000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

}

.blessing-row {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px; 
}

.blessing {
    white-space: normal;
    padding: 5px; 
    box-sizing: border-box; 
    flex: 0 0 auto; 
    font-size: 4vw;
    color: red;
}


@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.scroll-left {
    animation: scroll-left 8s linear infinite;
}

.scroll-right {
    animation: scroll-right 8s linear infinite;
}

.blessing .blessing-date {
    font-style: italic; 
    font-size: 3vw; 
}

a {
    color: red; 
    text-decoration: none; 
    margin-top: 10px 0; 
    display: inline-block; 
}

a:hover {
    text-decoration: underline; 
}



.upload-page .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}


.upload-page h1 {
    color: red;
    font-size: 4vw; 
    margin-bottom: 20px;
    mix-blend-mode: normal;
}


.upload-page .input-group {
    margin-bottom: 20px;
}


.upload-page textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none; 
    font-size: 1em;
}


.upload-page .input-group {
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.upload-page input[type="file"] {
    margin: 10px 0; 
    padding: 8px; 
    border: none;
    cursor: pointer;
}

.upload-page .input-group label {
    display: inline-block;
    padding: 12px 24px; 
    color: #000; 
    font-size: 1em; 
    cursor: pointer; 
    border: 2px solid red; 
    background-color: white; 
    border-radius: 4px;
    transition: background-color 0.3s ease; 
    text-align: center; 
    width: auto; 
    min-width: 160px; 
}

.upload-page .input-group label:hover {
    background-color: #cc0000; 
    color: white; 
}



.upload-page .send-btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 13px 26px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    min-width: 160px; 
}

.upload-page .send-btn:hover {
    background-color: #cc0000; 
}


.upload-page a {
    display: block;
    margin-top: 20px;
    color: red;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.upload-page a:hover {
    opacity: 0.7; 
}


.about-page .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #000; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.about-page h1 {
    color: red; 
    margin-bottom: 20px;
    mix-blend-mode: normal;
    text-align: center; 
}

.about-page p {
    margin: 30px; 
    text-align: justify; 
    color: #000; 
    text-align: center; 
}

.about-page a {
    display: block;
    margin-top: 20px;
    color: red;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.about-page a:hover {
    opacity: 0.7; 
}


.contact-page .container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #000; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-page .input-group {
    margin-bottom: 20px;
}

.contact-page label {
    display: block; 
    cursor: pointer;
    color: #000;
}

.contact-page h1 {
    color: red; 
    margin-bottom: 20px;
    mix-blend-mode: normal;
    text-align: center; 
}

.contact-page input[type="text"],
.contact-page input[type="email"],
.contact-page textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.contact-page .send-btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 13px 26px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    min-width: 160px; 
}

.contact-page .send-btn:hover {
    background-color: #cc0000;
}

.contact-page a {
    display: block;
    margin-top: 20px;
    color: red;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.contact-page a:hover {
    opacity: 0.7;
}


.single-post-page {
    background-color: #000; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.single-post-page h1 {
    color: red; 
    font-size: 4vw; 
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;
    margin: 20px auto; 
    mix-blend-mode: difference; 
}


.single-post-page .post-details img {
    max-width: 100%;
    height: auto;
    padding: 5px; 
}

.single-post-page .post-details .blessing {
    font-size: 4vw; 
    color: red; 
    padding: 0.001px;
}

.single-post-page .post-details .post-date {
    font-style: italic; 
    font-size: 3vw; 
    color: red; 
    padding: 0.001px; 
}
